#!/bin/bash
#set -x

# create a temporary symlink to run a theme's exampleSite:
USAGE="Usage: $0 [-l] <theme_name>
    will run hugo on the theme's exampleSite."

if [ "$#" == "0" ]; then
    echo "$USAGE"
    exit -2
fi

TARGET=(themes/*${1:=academic}*/exampleSite)
echo "target: $TARGET"

if ! [ -d "$TARGET" ]; then
    echo "Could not find $i/exampleSite in the themes directory: $TARGET"
    exit 2
fi

#ln -fs $PWD/themes $PWD/$TARGET/themes
# trapping INT because that's how hugo is exited
#trap ctrl_c INT
# cleanup the temporary link
#function ctrl_c() {
#    rm $TARGET/themes
#}
(cd $TARGET; hugo --themesDir ../.. serve)

